<!-- @format -->

<% layout("/layouts/boilerplate") %>
<body>
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->
  <ul>
    <% for(let listing of allListings) { %>
    <div class="card" style="width: 18rem">
      <img src=" <%= listing.image.url %>" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
        <a href="/listings/<%= listing._id %>" class="btn btn-primary"
          >see details</a
        >
      </div>
    </div>

    <!-- <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li> -->
    <% } %>
  </ul>
</body>
